<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Maps Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <input
    (keydown.enter)="$event.preventDefault()"
    placeholder="Search "
    autocorrect="off"
    autocapitalize="off"
    spellcheck="off"
    type="text"
    #search
  />

  <div class="map-view">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker
        [latitude]="latitude"
        [longitude]="longitude"
        [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"
      ></agm-marker>
    </agm-map>
  </div>
</ion-content>
